body .icon-down {
  background-color: red;
}
.other {
  width: 100px;
}
.index.__vuec__ > p {
  line-height: 50px;
  text-align: center;
  background: #f0cbd2;
  border: 1px solid #ddd;
}

.component-c {
  line-height: 50px;
  text-align: center;
  color: #fff;
  background: #259013;
}
.component-c img {
  display: block;
  width: 100%;
}

